.page {
  /* padding: min(2.6%, 20px); */
  color: var(--text-color);
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  height: 100vh;
  padding: 10px;
  align-content: space-between;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  justify-self: end;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.rec-decor {
  position: absolute;
  top: 10px;
  right: 20px;
  display: var(--display-rec-decor);
  color: var(--decor-color);
  font-size: 18px;
  text-transform: uppercase;
}

.rec-decor::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-bottom: 1px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  padding-top: clamp(41px, -60.1450px + 26.9720vw, 147px);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  display: block;
  list-style-type: none;
}

.header__theme-menu-button {
  width: 70px;
  border: 1px solid transparent;
  padding-bottom: 5px;
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  padding-top: clamp(68px, -35.0534px + 27.4809vw, 176px);
  color: var(--big-header-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__description {
  display: block;
  justify-self: end;
  max-width: 364px;
  margin-top: clamp(55px, -47.0992px + 27.2265vw, 162px);
  margin-bottom: clamp(30px, -73.0534px + 27.4809vw, 138px);
  white-space: pre-line;
}

.title-text {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.title-decor {
  color: var(--text-title-decor-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  /* row-gap: 50px; */
  row-gap: clamp(50px, 21.3740px + 7.6336vw, 80px);
  margin: 50px 10px 40px;
  /* margin-top: 50px;
  margin-bottom: 40px; */
}

.section__header {
  color: var(--section-header-text-color);
}

.section__list-item {
  display: block;
  list-style-type: none;
}

.section__list-item-header {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__list-item-text {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.howto .section__list-item-header:not(.advices) {
  font-weight: 400;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1px var(--link-shadow-color);
}

.section__link:focus,
.section__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__link:hover {
  outline: none;
  text-decoration: underline;
}

@media(width >= 768px) {
  .header__title {
    /* margin-left: -20px; */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    /* padding-top: clamp(176px, -118.0000px + 38.2813vw, 274px); */
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-top: -25px;
    padding-top: 0;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__description {
    max-width: 491px;
    margin-top: 114px;
    margin-bottom: 90px;
  }
}
