.page {
  color: var(--text-color);
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  align-content: space-between;
  min-block-size: 100vh;
  padding: var(--decorated-zone-padding);
}

:is(.header, .footer)::before,
:is(.header, .footer)::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
}

:is(.header, .footer)::before {
  justify-self: end;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

:is(.header, .footer)::after {
  align-self: end;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.rec-decor {
  position: absolute;
  top: var(--rec-decor-top);
  right: var(--rec-decor-right);
  display: var(--display-rec-decor);
  color: var(--decor-color);
  font-size: 18px;
  text-transform: uppercase;
}

.rec-decor::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-block-end: 1px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: var(--menu-margin-top);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  display: block;
  list-style-type: none;
}

.header__theme-menu-button {
  inline-size: 70px;
  border: 1px solid transparent;
  padding-block-end: 5px;
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.big-title {
  color: var(--big-title-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__title {
  margin-block-start: var(--title-margin-top);
}

.header__description {
  display: block;
  justify-self: end;
  max-inline-size: 364px;
  margin-block-start: var(--header-description-margin-top);
  white-space: pre-line;
}

.title-text {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.title-decor {
  color: var(--text-title-decor-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  row-gap: var(--main-row-gap);
  margin: 40px 10px 38px;
}

.section {
  display: grid;
}

.text-content .section__header {
  margin-block-end: 20px;
  color: var(--section-header-text-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__list-item {
  display: block;
  list-style-type: none;
}

.section__list-item-header {
  display: block;
  margin-block-end: 10px;
}

.section__list-item-text {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.section-howto .section__list-item-header:not(.advices-header) {
  font-weight: 400;
}

.advices-header {
  margin-block-end: 20px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1px var(--link-shadow-color);
}

.section__link:focus,
.section__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__link:hover {
  outline: none;
  text-decoration: underline;
}

.gallery .section__list {
  gap: 6px;
}

.gallery .section__header {
  margin-block-end: 10px;
  color: var(--text-title-decor-color);
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  align-content: space-between;
  min-block-size: 100vh;
  padding: var(--decorated-zone-padding);
}

.footer__text {
  justify-self: center;
  margin-inline-start: 4px;
  text-shadow: 2px 2px 0px var(--shadow-color);
}

@media(width >= 768px) {
  :root {
    --menu-margin-top: 0.88vh;
    --title-margin-top: 3.42vh;
    --header-description-margin-top: 2.44vh;
    --decorated-zone-padding: 20px;
    --rec-decor-top: 20px;
    --rec-decor-right: 30px;
    --main-row-gap: 80px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .big-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin: 60px 20px;
  }

  .section-why,
  .section-howto {
    grid-template-columns: var(--header-column-width) auto;
    gap: 20px;
  }

  .section-what .section__header {
    max-inline-size: var(--header-column-width);
  }

  .illustration-sunset {
    grid-area: sunset;
  }

  .illustration-ice-cream {
    grid-area: ice-cream;
  }

  .illustration-tape {
    grid-area: tape;
  }

  .illustration-books {
    grid-area: books;
  }

  .illustration-street {
    grid-area: street;
  }

  .gallery__image {
    block-size: 100%;
  }

  .gallery .section__header {
    margin-block-end: 20px;
  }

  .gallery .section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vw 30vw 41.4vw;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
    ;
    gap: 19px;
  }
}

@media (width >= 1024px) or (height < 668px) {
  :root {
    --menu-margin-top: 0;
    --title-margin-top: 24.09vh;
    --header-description-margin-top: 3.26vh;
  }

  .header::before {
    grid-area: decor-before;
  }

  .header__theme-menu {
    grid-area: menu;
    justify-self: center;
  }

  .header__title {
    grid-area: title;
  }

  .header__description {
    grid-area: description;
    max-inline-size: 491px;
  }

  .header::after {
    grid-area: decor-after;
  }

  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas:
    ". menu decor-before"
    "title title title"
    "description description description"
    "decor-after decor-after decor-after"
    ;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-what .section__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .gallery .section__list {
    grid-template-rows: 25.4vw 30.7vw 428px;
    gap: 22px;
  }
}

@media (height < 668px) {
  .gallery .section__list,
  .section-what .section__list {
    display: flex;
    flex-direction: column;
  }

  .gallery .section__list {
    gap: 10px;
  }

  .gallery__image {
    max-block-size: 80vh;
  }
}
