:root {
  --bg-color: #000028;
  --big-title-text-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --button-color: #FF0070;
  --shadow-color: #FF0070;
  --text-color: #F1B2CE;
  --text-title-decor-color: #000028;
  --hover-border-color: rgba(255, 0, 112, 0.40);
  --display-rec-decor: block;
  --bg-image: url('../images/cover-image-dark.png');
  --section-header-text-color: #FF0070;
  --link-shadow-color: #FF0070;
  --menu-margin-top: 1.5vh;
  --title-margin-top: 5.39vh;
  --header-description-margin-top: 3.89vh;
  --decorated-zone-padding: 10px;
  --rec-decor-top: 10px;
  --rec-decor-right: 20px;
  --main-row-gap: 50px;
  --header-column-width: 30.73vw;
}
